<ion-content>
    <ion-grid>
        <ion-row text-center>
            <ion-col>
                <h4>
                    <ion-text>
                        Let's get started
                    </ion-text>
                </h4>
            </ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col>
                <p>
                    <ion-text>
                        We need to connect
                    </ion-text>
                </p>
                <p>
                    <ion-text>
                        your wallet to get going.
                    </ion-text>
                </p>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
            <ion-col sizeXs="6">
                <ion-button routerLink="/qr-scanner" expand="block">Scan QR Code</ion-button>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
            <ion-col sizeXs="6">
                <ion-button routerLink="/private-key-input" expand="block" color="light">
                    <ion-text color="primary">
                        Connect Manually
                    </ion-text>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
