<ion-header>
    <ion-toolbar>
        <ion-title>My trips</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="currentTrip">
        <app-current-trip (updateCheckOutStatus)="onCheckotOut()" [tripData]="currentTrip"></app-current-trip>
    </div>

    <div *ngFor="let trip of pastTrips">
        <app-past-trip [tripData]="trip"></app-past-trip>
    </div>
</ion-content>

