<ion-header>
    <ion-toolbar>
        <ion-title>My trips</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/ticket-verification">
                <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let journey of journeys" class="outer">
        <ion-card-content>
            <div *ngIf="journey?.currentTrip">
                <app-current-trip (updateCheckOutStatus)="onCheckotOut()"
                                  [tripData]="journey?.currentTrip"></app-current-trip>
            </div>
            <div *ngFor="let trip of journey?.pastTrips">
                <app-past-trip [tripData]="trip"></app-past-trip>
            </div>
            <ion-button *ngIf="!journey?.paymentData?.isPaid && journey?.paymentData?.price > 0"
                        size="block" (click)="pay(journey)" color="light">
                <ion-text color="danger">
                    Pay now
                </ion-text>
            </ion-button>


            <!--            <ion-button *ngIf="journey?.paymentData.isPaid && journey?.paymentData.price > 0" [disabled]="true" size="block"-->
            <!--                        color="light">-->
            <!--                <ion-text color="success">-->
            <!--                    Paid-->
            <!--                </ion-text>-->
            <!--            </ion-button>-->
        </ion-card-content>
    </ion-card>
</ion-content>

