<ion-header>
    <ion-toolbar>
        <ion-title>My trips</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/ticket-verification">
                <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="currentTripService.currentTrip">
        <app-current-trip (updateCheckOutStatus)="onCheckotOut()"
                          [tripData]="currentTripService.currentTrip"></app-current-trip>
    </div>
    <div *ngFor="let trip of pastTrips">
        <app-past-trip [tripData]="trip"></app-past-trip>
    </div>
</ion-content>

