<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button  defaultHref="/" slot="start" text="" icon="arrow-back"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <zxing-scanner
            (scanError)="onErrorInScanning($event)"
            (scanFailure)="onFailedScan($event)"
            (scanSuccess)="onSuccessfulScanned($event)"
            [enable]="isScannerEnabled"
            *ngIf="isScannerEnabled"
    ></zxing-scanner>
    <h1 *ngIf="tspPubKey">TSP public key: <span>{{tspPubKey}}</span></h1>
</ion-content>
