<ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row align-items-end>

                <ion-col sizeXs="8">
                    <p>Trip Start: {{tripData?.start}}</p>
                    <p>Trip End: {{tripData?.end}}</p>
                    <p>Transport Company: {{tripData?.transporter}}</p>
                </ion-col>

                <ion-col sizeXs="4">
                        <ion-text class="price" color="primary">
                            Price: {{tripData?.price}}
                        </ion-text>
                    <span>
                  CHF
                </span>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="!tripData?.isPaid">
                <ion-col sizeXs="12">
                    <ion-button size="block" color="light">
                        <ion-text color="primary">
                            Pay now
                        </ion-text>
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-card-content>
</ion-card>
