<ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row align-items-center justify-content-center text-center>
                <ion-col sizeXs="4">
                    <ngx-kjua
                            [text]="generateTicketString()"

                    ></ngx-kjua>
                    <qr-code size="380" [value]="generateTicketString()"></qr-code>
                </ion-col>
                <ion-col sizeXs="12">
                    <p>{{tripData.start}}</p>
                    <p>{{tripData.transporter}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col sizeXs="12">
                    <ion-button size="block" color="light" (click)="checkOut()">
                        <ion-text color="primary">
                            Check Out
                        </ion-text>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
